<code>[Teksti](URL)</code>
<br>
<code>![Kuvateksti](URL "Kuvateksti")</code>
<br>
<a href="https://guides.github.com/features/mastering-markdown" target="_blank">Markdown ohje</a>
<hr>
<div id="preview"></div>